/* main container */
html,
body {
    background-color: #fff; /* see if we can replace this with something less white... */
}

body {
    color: #333; /* not real black */
    padding-top: 20px;
    padding-bottom: 20px;

}

/* All containers get side spacing for mobile first views */
.header,
.inner,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* these default values are used for mobile, conservative */
.inner {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    text-align: center;
}

.centered {
    text-align: center;
    margin-top:20px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #000; /* accent on buttons using real black for text */
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff; /* and true white as background */
    border: 1px solid #666;
}

/* Header */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

/* non active links */
.masthead-brand > a,
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-weight: bold;
    color: #666;
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a {
    font-size: 16px;
}

.masthead-brand > a:hover,
.masthead-brand > a:focus,
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255, 255, 255, .25);
}

/* active links show real black vs #666 */
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #000;
    border-bottom-color: #000;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .inner,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {

    /* on non mobile we can space out the inner a little more */
    .inner {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    /* Space out the masthead */
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }

    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }

    .container {
        max-width: 730px;
    }
}