doctype html
html(lang='en', ng-app='myApp')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='/assets/favicon.ico')
    title ANDROIDCO.DE your number one android code example resource
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/cover.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    body
        .site-wrapper
            .site-wrapper-inner
                .cover-container
                    .masthead.clearfix
                        .inner
                            h3.masthead-brand androidco.de
                            ul.nav.masthead-nav
                                li(ui-sref-active='active')
                                    a(ui-sref='home') Home
                                li(ui-sref-active='active')
                                    //- TODO replace this
                                    //- a(href='https://github.com/hanscappelle/more-android-examples/blob/master/README.md') Projects
                                    a(ui-sref='projects') Projects
                                li(ui-sref-active='active')
                                    a(ui-sref='about') About

                    .inner.cover(ui-view)

                    .mastfoot
                        .inner
                            p
                                | Cover template for
                                |&nbsp;
                                a(href='http://getbootstrap.com') Bootstrap
                                | , by
                                |&nbsp;
                                a(href='https://twitter.com/mdo') @mdo
                                | .
        // Bootstrap core JavaScript
        // ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='js/jquery.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/docs.min.js')
        script(src='bower_components/angular/angular.min.js')
        script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
        script(src='js/app.js')
