doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='/ico/favicon.ico')
    title Cover Template for Bootstrap
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/cover.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    body
        .site-wrapper
            .site-wrapper-inner
                .cover-container
                    .masthead.clearfix
                        .inner
                            h3.masthead-brand androidco.de
                            ul.nav.masthead-nav
                                li.active
                                    a(href='#') Home
                                li
                                    a(href='#') Features
                                li
                                    a(href='#') Contact
                    .inner.cover
                        h1.cover-heading Android Example Code
                        p.lead
                            | At http://androidco.de we collect Android code examples for daily use. This is great for
                            | both beginners getting comfortable with Android and Experts (with a capital E) in need of some memory refreshment.
                        p.lead
                            a.btn.btn-lg.btn-default(href='#') Learn more
                    .mastfoot
                        .inner
                            p
                                | Cover template for
                                a(href='http://getbootstrap.com') Bootstrap
                                | , by
                                a(href='https://twitter.com/mdo') @mdo
                                | .
       // Bootstrap core JavaScript
       // ==================================================
       // Placed at the end of the document so the pages load faster
       script(src='js/jquery.min.js')
       script(src='js/bootstrap.min.js')
       script(src='js/docs.min.js')
