h1 People
p.lead Hans Cappelle,
    | Tobrun Van Nuland,
    | Jo Vandereyt

h1 SourceCode
p.lead Most of the code is located in our main GitHub project with the exception of some
    | projects that got their own repo or were forked from existing
    | repositories. These are linked on the readme of our main github repo.
p.lead
    a(href="https://github.com/hanscappelle/more-android-examples") https://github.com/hanscappelle/more-android-examples

p.lead Just like all the example code this website is available on GitHub. Feel free to contribute.
p.lead
    a(href="https://github.com/hanscappelle/androidco.de") https://github.com/hanscappelle/androidco.de

h3 Merci
    small &nbsp;aan mijn dochter Amélie om mee te kijken terwijl ik deze website aanpas en online zet.

h1 License
p.lead Everything is released on
    |&nbsp;
    a(href="apache.org/licenses/LICENSE-2.0") Apache 2.0 LICENSE