h1 How to contribute

p.lead Most of the code is located in our main GitHub project with the exception of some
    | projects that got their own repo or were forked from existing
    | repositories. These are linked on the readme of our main github repo.
p.lead
    a(href="https://github.com/AndroidExamples") https://github.com/AndroidExamples

p.lead Contributions are more than welcome, just fork the&nbsp;
    a(href="") PROJECTS.md
    | &nbsp;file to udpate the project listing and create a pull request so we get notified.