h1.cover-heading Android Example Code
p.lead
    | At androidco.de we collect Android code examples for daily use. This is great for
    | both beginners getting comfortable with Android and Experts in need of some memory refreshment.
p.lead
    a.btn.btn-lg.btn-default(ui-sref='about') Learn more