h1 GitHub

p.lead Most of the code is located in our main GitHub project with the exception of some
    | projects that got their own repo or were forked from existing
    | repositories. These are linked on the readme of our main github repo.
p.lead
    a(href="https://github.com/hanscappelle/more-android-examples") https://github.com/hanscappelle/more-android-examples

hr

div(ng-controller="ProjectsCtrl")
    md(ng-model="readme")