<h1>People</h1><p class="lead">Hans Cappelle,
Tobrun Van Nuland,
Jo Vandereyt</p><h1>SourceCode</h1><p class="lead">Just like all the example code this website is available on GitHub. Feel free to contribute.</p><p class="lead"><a href="https://github.com/AndroidExamples/androidco.de">https://github.com/AndroidExamples/androidco.de</a></p><h3>Merci<small>&nbsp;aan mijn dochter Amélie om mee te kijken terwijl ik deze website aanpas en online zet.</small></h3><h1>License</h1><p class="lead">Everything is released on
&nbsp;<a href="apache.org/licenses/LICENSE-2.0">Apache 2.0 LICENSE</a></p>